<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word2Vec Model</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  </head>
 
<body>

    <h2>Most similar words according to TED talks</h2>

        <p id="description">I trained a word2vec model with TED talk transscripts. Check out the words that are the most similar to your input.</p>
        <form action="/" method="post">
            <input id="inputbox" name="word" type="text" name="input"><br>
            <input type="submit" value="Submit"> 
        </form>
    <div>
        <% if(locals.similarWords){ %>
            <% for (let i = 0; i < similarWords.length; i++){ %>
            <p id="output"><%= similarWords[i].word %> <%= similarWords[i].dist %></p>

            <% } %>
          <% } %>
          <% if(locals.error){ %>
            <p id="error"><%= error %></p>
          <% } %>
    </div>
</body>

</html>