<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word2Vec Model</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  </head>
 
<body>

    <div id="entry">
        <form action="/" method="post">
            Get the most similar words<br>
            <input name="word" type="text" name="input"><br>
            <input type="submit" value="Submit"> 
        </form>
    </div>
    <div>
        <% if(locals.similarWords){ %>
            <% for (let i = 0; i < similarWords.length; i++){ %>
            <p><%= similarWords[i].word %> <%= similarWords[i].dist %></p>

            <% } %>
          <% } %>
          <% if(locals.error){ %>
            <p><%= error %></p>
          <% } %>
    </div>
</body>

</html>